html{
    width: 99%;
    height: 99%;
}
body{
    width: 97%;
    height:97%;
}
body{
    background-color: darkslateblue;
    font-family: 'Varela', sans-serif;

}
h2{
    color: white;
}
#maindiv{
    display: flex;
    justify-content: center;
    align-items: center;
 
}
#container_1{
    width: 55%;
    height: 450px;
    background-color: white;
    border-radius: 12px;
    /* overflow-x: hidden;
    overflow-y: auto; */
   
}
#alert{
    background-color: red;
    width: 88%;
    height: 37px;
    border-radius: 9px;
    border: 0px;
    margin-top: 1%;
    margin-left: 5%;
    display: none;
}
/* .cls{
    display: block;
} */
svg{
    position: relative;
    top: 22px;
    right: 5px;
    display: block;
}
#text{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 12px;
    color: white;

}
#radiobuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4%;
    font-weight: bold;
}
form
{
    padding: 2%;
}
#username{
    width: 98%;
    height: 37px;
    border-radius: 9px;
    border: 0px;
    background-color: #ebebeb;
}
#email_input{
    width: 98%;
    height: 37px;
    border-radius: 9px;
    border: 0px;
    background-color: #ebebeb;
    margin-top: 3%;

}
textarea{
    width: 98%;
    height: 100px;
    margin-top: 3%;
}
#terms{
    margin-top: 3%;
    font-weight: bold;
}
#btn{
    width: 98%;
    height: 37px;
    background-color:darkslateblue ;
    border: 0px;
    border-radius: 4
    px;
    margin-top: 3%;
    color: white;
}

